body {
  background-color: #222219;
  font-family: 'Open Sans', sans-serif;
}

#header {
  padding-left: 20px;
  flex: 1 100%;
  align-self: baseline;
  text-align: center;
}

#header h1 {
  color: #F9C80E;
}

#bodyWrapper {
  display: flex;
  flex-flow: row wrap;
  overflow: hidden;
}


#sketchButtons {
  flex: 1;
  max-width: 150px;
  display: flex;
  flex-flow: column nowrap;
  padding: 15px;
  margin: 5px;
}

.appButtons {
  padding: 10px 5px;
  margin: 5px;
  border-radius: 15px;
  outline: none;
  background-color: #424729;
  color: white;
  border: none;
  cursor: pointer;
}

.appButtons:hover {
  background-color: white;
  color: #424729;
}

.appButtons:active {
  transform: translateY(4px);
}

#tabletContainer {
  position: absolute;
  padding: 5px;
  max-width: 800px;
  min-height: 800px;
  display: flex;
  flex-flow: row wrap;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 100px;
}

.tabletCanvas {
  box-sizing: border-box;
  text-align: center;
  float: left;
  min-width: 50px;
  min-height: 50px;
  margin: 0;
  padding: 0;
  border: 1px solid #404040;
  background: white;
}